# Orders

‚úèÔ∏è **Exercise**

Today, we will investigate the **orders**, and their associated **review score**.

üëâ Our goal is to create a DataFrame with the following features:


| feature_name 	| type 	| description 	|
|:---	|:---:	|:---	|
| `order_id` 	| str 	| the id of the order 	|
| `wait_time` 	| float 	| the number of days between order_date and delivered_date 	|
| `expected_wait_time` 	| float 	| the number of days between order_date and estimated_delivery_date 	|
| `delay_vs_expected` 	| float 	| if the actual delivery date is later than the estimated delivery date, returns the number of days between the two dates, otherwise return 0 	|
| `order_status` 	| str 	| the status of the order 	|
| `dim_is_five_star` 	| int 	| 1 if the order received a five-star review, 0 otherwise 	|
| `dim_is_one_star` 	| int 	| 1 if the order received a one_star, 0 otherwise 	|
| `review_score` 	| int 	| from 1 to 5 	|
| `number_of_products` 	| int 	| number of products that the order contains 	|
| `number_of_sellers` 	| int 	| number of sellers involved in the order 	|
| `price` 	| float 	| total price of the order paid by customer 	|
| `freight_value` 	| float 	| value of the freight paid by customer 	|
| `distance_customer_seller` 	| float 	| the distance in km between customer and seller (optional) 	|  
  
‚ö†Ô∏è We also want to filter out "non-delivered" orders, unless explicitly specified, otherwise we cannot compute the potential delays.

‚ùì **Your challenge**: 

- Implement each feature as a separate method within the `Order` class available at `olist/order.py`
- Then, create a method `get_training_data()` that returns the complete DataFrame.

üí° Suggested methodology:
- Use the notebook below to write and test your code step-by-step first
- Then copy the code into `order.py` once you are certain of your code logic
- Focus on the data manipulation logic now, we will analyse the dataset visually in the next challenges

üî• Notebook best practices (must-read) üëá

<details>
    <summary>‚ñ∏ <i>click here</i></summary>

From now on, exploratory notebooks are going to become pretty long, and we strongly advise you to follow these notebook principles:
- Code your logic so that your Notebook can always be ran from top to bottom without crashing (Cell --> Run All)
- Name your variables carefully 
- Use dummy names such as `tmp` or `_` for intermediary steps when you know you won't need them for long
- Clear your code and merge cells when relevant to minimize Notebook size (`Shift-M`)
- Hide your cell output if you don't need to see it anymore (double-click on the red `Out[]:` section to the left of your cell).
- Make heavy use of jupyter nbextention `Collapsable Headings` and `Table of Content` (call a TA if you can't find them)
- Use the following shortcuts 
    - `a` to insert a cell above
    - `b` to insert a cell below
    - `dd` to delete a cell
    - `esc` and `arrows` to move between cells
    - `Shift-Enter` to execute cell and move focus to the next one
    - use `Shift + Tab` when you are between method brackets e.g. `groupby()` to get the docs! Repeat a few times to open it permanently

</details>

In [33]:
# Auto reload imported module everytime a jupyter cell is executed (handy for olist.order.py updates)
%load_ext autoreload
%autoreload 2

In [34]:
# Import usual modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [35]:
# Import olist data
from olist.data import Olist
olist = Olist()
data = olist.get_data()

In [36]:
# What datasets do we have access to now ? 
data.keys()

dict_keys(['geolocation', 'orders', 'sellers', 'product_category_name_translation', 'customers', 'order_items', 'order_reviews', 'order_payments', 'products'])

In [37]:
orders = data['orders'].copy() # good practice to be sure not to modify your `data` variable

assert(orders.shape == (99441, 8))

orders[]

SyntaxError: invalid syntax (<ipython-input-37-bfbfad496f18>, line 5)

## 1. Code `order.py`

### a) `get_wait_time`
    ‚ùì Return a Dataframe with:
           order_id, wait_time, expected_wait_time, delay_vs_expected, order_status

üéÅ We give you the pseudo-code below üëá for this first method:

> 1. Inspect the `orders` dataframe
2. Filter the dataframe on `delivered orders`
3. Handle `datetime`
    - Take time to understand what python [`datetime`](https://docs.python.org/3/library/datetime.html) objects are
    - and convert dates from "string" type to "pandas.datetime' using [`pandas.to_datetime()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html)
4. Compute `wait_time`
5. Compute `expected_wait_time`
6. Compute `delay_vs_expected`
7. Check the new dataframe 
8. Once you are satisfied with your code, you can carefully copy-paste it from the notebook to to `olist/order.py`

In [38]:
is_delivered = True
orders = 0
if is_delivered:
    orders = data['orders'][data['orders']['order_status']=='delivered'].copy()
else:
    orders = data['orders'].copy()
orders['wait_time'] = pd.to_datetime(orders['order_purchase_timestamp']) - pd.to_datetime(orders['order_delivered_customer_date'])
orders['expected_wait_time'] = pd.to_datetime(orders['order_purchase_timestamp']) - pd.to_datetime(orders['order_estimated_delivery_date'])
orders['delay_vs_expected'] = orders['wait_time'] - orders['expected_wait_time']
orders = orders[['order_id', 'wait_time', 'expected_wait_time', 'delay_vs_expected', 'order_status']]
orders

,order_id,wait_time,expected_wait_time,delay_vs_expected,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,-9 days +13:31:20,-16 days +10:56:33,7 days 02:34:47,delivered
1,53cdb2fc8bc7dce0b6741e2150273451,-14 days +05:13:52,-20 days +20:41:37,5 days 08:32:15,delivered
2,47770eb9100c2d0c44946d9cf07ec65d,-10 days +14:32:20,-27 days +08:38:49,17 days 05:53:31,delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,-14 days +18:59:24,-27 days +19:28:06,12 days 23:31:18,delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,-3 days +03:01:37,-13 days +21:18:39,9 days 05:42:58,delivered
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,-9 days +18:46:04,-19 days +09:54:05,10 days 08:51:59,delivered
99437,63943bddc261676b46f01ca7ac2f7bd8,-23 days +19:21:02,-24 days +12:58:58,1 days 06:22:04,delivered
99438,83c1379a015df1e13d02aae0204711ab,-25 days +03:22:26,-31 days +14:46:43,5 days 12:35:43,delivered
99439,11c177c8e97725db2631073c19f07b62,-18 days +21:55:33,-38 days +21:28:27,20 days 00:27:06,delivered
99440,66dea50a8b16d9b4dee7af250b4be1a5,-8 days +07:49:00,-26 days +20:57:30,17 days 10:51:30,delivered

In [39]:
# Test your code here
from olist.order import Order
Order().get_wait_time()

,order_id,wait_time,expected_wait_time,delay_vs_expected,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,-9 days +13:31:20,-16 days +10:56:33,7 days 02:34:47,delivered
1,53cdb2fc8bc7dce0b6741e2150273451,-14 days +05:13:52,-20 days +20:41:37,5 days 08:32:15,delivered
2,47770eb9100c2d0c44946d9cf07ec65d,-10 days +14:32:20,-27 days +08:38:49,17 days 05:53:31,delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,-14 days +18:59:24,-27 days +19:28:06,12 days 23:31:18,delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,-3 days +03:01:37,-13 days +21:18:39,9 days 05:42:58,delivered
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,-9 days +18:46:04,-19 days +09:54:05,10 days 08:51:59,delivered
99437,63943bddc261676b46f01ca7ac2f7bd8,-23 days +19:21:02,-24 days +12:58:58,1 days 06:22:04,delivered
99438,83c1379a015df1e13d02aae0204711ab,-25 days +03:22:26,-31 days +14:46:43,5 days 12:35:43,delivered
99439,11c177c8e97725db2631073c19f07b62,-18 days +21:55:33,-38 days +21:28:27,20 days 00:27:06,delivered
99440,66dea50a8b16d9b4dee7af250b4be1a5,-8 days +07:49:00,-26 days +20:57:30,17 days 10:51:30,delivered

In [40]:
from nbresult import ChallengeResult
result = ChallengeResult('wait_time', shape=Order().get_wait_time().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.8.10, pytest-7.1.2, pluggy-1.0.0 -- /bin/python3
cachedir: .pytest_cache
rootdir: /home/quantium/labs/lewagon/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders/tests
plugins: dash-1.19.0, anyio-3.6.1
collecting ... collected 1 item

test_wait_time.py::TestWaitTime::test_wait_time PASSED                   [100%]

============================== 1 passed in 0.01s ===============================


üíØ You can commit your code:

git add tests/wait_time.pickle

git commit -m 'Completed wait_time step'

git push origin master

### b) `get_review_score`
     ‚ùì Returns a DataFrame with:
        order_id, dim_is_five_star, dim_is_one_star, review_score

dim_is_$N$_star should contain `1` if review_score=$N$ and `0` otherwise 

<details>
    <summary markdown='span'>Hints</summary>

Think about `Series.map()` or `DataFrame.apply()`
    
</details>

üëâ We load the `reviews` for you

In [41]:
reviews = data['order_reviews'].copy()
assert(reviews.shape == (99224,7))
reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parab√©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super r√°pida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [42]:
reviews['dim_is_five_star'] = ( reviews['review_score'] == 5 ).astype(int)
reviews['dim_is_one_star'] = ( reviews['review_score'] == 1 ).astype(int)
reviews = reviews[['order_id', 'dim_is_five_star', 'dim_is_one_star', 'review_score']]
reviews

,order_id,dim_is_five_star,dim_is_one_star,review_score
0,73fc7af87114b39712e6da79b0a377eb,0,0,4
1,a548910a1c6147796b98fdf73dbeba33,1,0,5
2,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5
3,658677c97b385a9be170737859d3511b,1,0,5
4,8e6bfb81e283fa7e4f11123a3fb894f1,1,0,5
...,...,...,...,...
99219,2a8c23fee101d4d5662fa670396eb8da,1,0,5
99220,22ec9f0669f784db00fa86d035cf8602,1,0,5
99221,55d4004744368f5571d1f590031933e4,1,0,5
99222,7725825d039fc1f0ceb7635e3f7d9206,0,0,4
99223,90531360ecb1eec2a1fbb265a0db0508,0,1,1

Once again, 

üëÄ Check the dataframe you've just created. <br/> 

üí™ When your code works, commit it to `olist/order.py` <br/>

üß™ Now, test it by running the following cell üëá

In [43]:
# Test your code here
from olist.order import Order
Order().get_review_score()

,order_id,dim_is_five_star,dim_is_one_star,review_score
0,73fc7af87114b39712e6da79b0a377eb,0,0,4
1,a548910a1c6147796b98fdf73dbeba33,1,0,5
2,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5
3,658677c97b385a9be170737859d3511b,1,0,5
4,8e6bfb81e283fa7e4f11123a3fb894f1,1,0,5
...,...,...,...,...
99219,2a8c23fee101d4d5662fa670396eb8da,1,0,5
99220,22ec9f0669f784db00fa86d035cf8602,1,0,5
99221,55d4004744368f5571d1f590031933e4,1,0,5
99222,7725825d039fc1f0ceb7635e3f7d9206,0,0,4
99223,90531360ecb1eec2a1fbb265a0db0508,0,1,1

In [44]:
from nbresult import ChallengeResult
result = ChallengeResult('review_score', shape=Order().get_review_score().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.8.10, pytest-7.1.2, pluggy-1.0.0 -- /bin/python3
cachedir: .pytest_cache
rootdir: /home/quantium/labs/lewagon/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders/tests
plugins: dash-1.19.0, anyio-3.6.1
collecting ... collected 1 item

test_review_score.py::TestReviewScore::test_review_score PASSED          [100%]

============================== 1 passed in 0.01s ===============================


üíØ You can commit your code:

git add tests/review_score.pickle

git commit -m 'Completed review_score step'

git push origin master

### c) `get_number_products`:
     ‚ùì Returns a DataFrame with:
        order_id, number_of_products (total number of products per order)

In [45]:
products = data['order_items'].groupby('order_id').count()['product_id'].reset_index().copy()
products = products.rename(columns={'product_id': 'number_of_products'})

üß™ Same routine: 
* check your dataframe, 
* commit your code to `olist/order.py`
* and check that it truly works.

In [46]:
from nbresult import ChallengeResult
result = ChallengeResult('number_products', shape=Order().get_number_products().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.8.10, pytest-7.1.2, pluggy-1.0.0 -- /bin/python3
cachedir: .pytest_cache
rootdir: /home/quantium/labs/lewagon/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders/tests
plugins: dash-1.19.0, anyio-3.6.1
collecting ... collected 1 item

test_number_products.py::TestNumberProducts::test_review_score PASSED    [100%]

============================== 1 passed in 0.01s ===============================


üíØ You can commit your code:

git add tests/number_products.pickle

git commit -m 'Completed number_products step'

git push origin master

### d) `get_number_sellers`:
     ‚ùì Returns a DataFrame with:
        order_id, number_of_sellers (total number of unique sellers per order)
        
<details>
    <summary>‚ñ∏ <i>Hint</i></summary>

`pd.Series.nunique()`
</details>

In [47]:
sellers = data['order_items'].groupby('order_id')['seller_id'].nunique().reset_index().copy()
sellers = sellers.rename(columns={'seller_id': 'number_of_sellers'})
sellers.sort_values('number_of_sellers')

                               order_id  number_of_sellers
0      00010242fe8c5a6d1ba2dd792cb16214                  1
65559  aaaf314a8cf0d0da71e52c6cd4184cbd                  1
65558  aaaea350ff8a957595f3c631d6b63d1b                  1
65557  aaae80f5b6239bd9e1b22e9aa542c3e8                  1
65556  aaabf43feb9498d9de4588eb73231c25                  1
...                                 ...                ...
11231  1d23106803c48c391366ff224513fb7f                  4
53796  8c2b13adf3f377c8f2b06b04321b0925                  4
55847  91be51c856a90d7efe86cf9d082d6ae3                  4
79967  cf5c8d9f52807cb2d2f0a0ff54c478da                  5
10831  1c11d0f4353b31ac3417fbfa5f0f2a8a                  5

[98666 rows x 2 columns]

In [48]:
from nbresult import ChallengeResult
result = ChallengeResult('number_sellers', shape=Order().get_number_sellers().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.8.10, pytest-7.1.2, pluggy-1.0.0 -- /bin/python3
cachedir: .pytest_cache
rootdir: /home/quantium/labs/lewagon/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders/tests
plugins: dash-1.19.0, anyio-3.6.1
collecting ... collected 1 item

test_number_sellers.py::TestNumberSellers::test_number_seller PASSED     [100%]

============================== 1 passed in 0.01s ===============================


üíØ You can commit your code:

git add tests/number_sellers.pickle

git commit -m 'Completed number_sellers step'

git push origin master

### e) `get_price_and_freight`
     Returns a DataFrame with:
        order_id, price, freight_value

<details>
    <summary>‚ñ∏ <i>Hint</i></summary>

`pd.Series.agg()` allows you to apply one transformation method per column of your groupby object
</details>

In [49]:
data['order_items'].groupby('order_id').sum()[['price','freight_value']].reset_index()

                               order_id   price  freight_value
0      00010242fe8c5a6d1ba2dd792cb16214   58.90          13.29
1      00018f77f2f0320c557190d7a144bdd3  239.90          19.93
2      000229ec398224ef6ca0657da4fc703e  199.00          17.87
3      00024acbcdf0a6daa1e931b038114c75   12.99          12.79
4      00042b26cf59d7ce69dfabb4e55b4fd9  199.90          18.14
...                                 ...     ...            ...
98661  fffc94f6ce00a00581880bf54a75a037  299.99          43.41
98662  fffcd46ef2263f404302a634eb57f7eb  350.00          36.53
98663  fffce4705a9662cd70adb13d4a31832d   99.90          16.95
98664  fffe18544ffabc95dfada21779c9644f   55.99           8.72
98665  fffe41c64501cc87c801fd61db3f6244   43.00          12.79

[98666 rows x 3 columns]

In [50]:
from nbresult import ChallengeResult
result = ChallengeResult('price', shape=Order().get_price_and_freight().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.8.10, pytest-7.1.2, pluggy-1.0.0 -- /bin/python3
cachedir: .pytest_cache
rootdir: /home/quantium/labs/lewagon/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders/tests
plugins: dash-1.19.0, anyio-3.6.1
collecting ... collected 1 item

test_price.py::TestPrice::test_price PASSED                              [100%]

============================== 1 passed in 0.01s ===============================


üíØ You can commit your code:

git add tests/price.pickle

git commit -m 'Completed price step'

git push origin master

### e) [OPTIONAL] `get_distance_seller_customer` 
**(Try  to code this function only after finishing today's challenges - Skip to next section)**

    ‚ùì Returns a Dataframe with:
        order_id, distance_seller_customer (the distance in km between customer and seller)

üí°Have a look at the `haversine_distance` formula we coded for you in the `olist.utils` module

In [57]:
Order().get_distance_seller_customer()

                               order_id  distance_seller_customer
0      00010242fe8c5a6d1ba2dd792cb16214                301.005664
1      00018f77f2f0320c557190d7a144bdd3                589.274140
2      000229ec398224ef6ca0657da4fc703e                312.495046
3      00024acbcdf0a6daa1e931b038114c75                301.951753
4      00042b26cf59d7ce69dfabb4e55b4fd9                646.221788
...                                 ...                       ...
98172  fffc94f6ce00a00581880bf54a75a037               2755.314485
98173  fffcd46ef2263f404302a634eb57f7eb                354.848852
98174  fffce4705a9662cd70adb13d4a31832d                338.827218
98175  fffe18544ffabc95dfada21779c9644f                 72.870476
98176  fffe41c64501cc87c801fd61db3f6244                133.230980

[98177 rows x 2 columns]

üëÄ Check your new dataframe and commit your code to olist/order.py when it works.

üß™  Test your code

In [58]:
from nbresult import ChallengeResult

result = ChallengeResult('distance',
    mean = Order().get_distance_seller_customer()['distance_seller_customer'].mean())
result.write()
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.8.10, pytest-7.1.2, pluggy-1.0.0 -- /bin/python3
cachedir: .pytest_cache
rootdir: /home/quantium/labs/lewagon/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders/tests
plugins: dash-1.19.0, anyio-3.6.1
collecting ... collected 1 item

test_distance.py::TestDistance::test_distance PASSED                     [100%]

============================== 1 passed in 0.06s ===============================


üíØ You can commit your code:

git add tests/distance.pickle

git commit -m 'Completed distance step'

git push origin master

## 2. All at once: `get_training_data`

‚ùì Time to code `get_training_data` making use of your previous coded methods, to gather all order features in one table

In [24]:
from functools import reduce

dataframes = [ Order().get_wait_time(), Order().get_review_score(), Order().get_number_products(), Order().get_number_sellers(), Order().get_price_and_freight() ]

df = reduce(lambda left, right: pd.merge(left, right, on=['order_id'], how='outer'), dataframes).dropna()

,order_id,wait_time,expected_wait_time,delay_vs_expected,order_status,dim_is_five_star,dim_is_one_star,review_score,number_of_products,number_of_sellers,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,-9 days +13:31:20,-16 days +10:56:33,7 days 02:34:47,delivered,0,0,4,1,1,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,-14 days +05:13:52,-20 days +20:41:37,5 days 08:32:15,delivered,0,0,4,1,1,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,-10 days +14:32:20,-27 days +08:38:49,17 days 05:53:31,delivered,1,0,5,1,1,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,-14 days +18:59:24,-27 days +19:28:06,12 days 23:31:18,delivered,1,0,5,1,1,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,-3 days +03:01:37,-13 days +21:18:39,9 days 05:42:58,delivered,1,0,5,1,1,19.90,8.72
...,...,...,...,...,...,...,...,...,...,...,...,...
96356,9c5dedf39a927c1b2549525ed64a053c,-9 days +18:46:04,-19 days +09:54:05,10 days 08:51:59,delivered,1,0,5,1,1,72.00,13.08
96357,63943bddc261676b46f01ca7ac2f7bd8,-23 days +19:21:02,-24 days +12:58:58,1 days 06:22:04,delivered,0,0,4,1,1,174.90,20.10
96358,83c1379a015df1e13d02aae0204711ab,-25 days +03:22:26,-31 days +14:46:43,5 days 12:35:43,delivered,1,0,5,1,1,205.99,65.02
96359,11c177c8e97725db2631073c19f07b62,-18 days +21:55:33,-38 days +21:28:27,20 days 00:27:06,delivered,0,0,2,2,2,359.98,81.18
96360,66dea50a8b16d9b4dee7af250b4be1a5,-8 days +07:49:00,-26 days +20:57:30,17 days 10:51:30,delivered,1,0,5,1,1,68.50,18.36

üß™  Test it below

In [129]:
from nbresult import ChallengeResult
from olist.order import Order
data = Order().get_training_data()

result = ChallengeResult('training',
    shape=data.shape,
    columns=sorted(list(data.columns))
)
result.write()
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.8.10, pytest-7.1.2, pluggy-1.0.0 -- /bin/python3
cachedir: .pytest_cache
rootdir: /home/quantium/labs/lewagon/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders/tests
plugins: dash-1.19.0, anyio-3.6.1
collecting ... collected 2 items

test_training.py::TestTraining::test_training_data_columns PASSED        [ 50%]
test_training.py::TestTraining::test_training_data_shape PASSED          [100%]

============================== 2 passed in 0.01s ===============================


üíØ You can commit your code:

git add tests/training.pickle

git commit -m 'Completed training step'

git push origin master

üèÅ Congratulations! 

üíæ Commit and push your notebook before starting the next challenge.